@font-face {
    font-family: 'Comfortaa-VariableFont';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa-VariableFont', Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

#root {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}