.createContainer {
    position: relative;
    width: 100%;
    height: calc(1080px - 88px - 100px);
    background-image: url('./images/Campingplatz-Walchensee-Bayern_320124915.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.createContainer .container {
    position: absolute;
    top: 200px;
    display: flex;
    width: 100%;
    height: 300px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.createContainer .form {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.createContainer .form label {
    font-size: 40px;
}

.createContainer .form input {
    height: 50px;
    width: 400px;
    background-color: #2179c500;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    margin: 0 60px 0 20px;
}

.createContainer .form input::placeholder {
    color: rgb(4, 4, 4);
}

.createContainer .form .fielset {
    border: 1px solid black;
}

.createContainer .form .fielset legend {
    font-size: 34px;
}

.createContainer .form .fielset div {
    margin: 10px 100px;
}

.createContainer .form .fielset input {
    margin: 20px;
    width: 50px;
}

.createContainer .form .fielset i {
    font-size: 34px;
    margin-right: 20px;
}

.createContainer .form .createBtn {
    border: 3px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #2179c500;
}

.createContainer .form .resetBtn {
    border: 3px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
    background-color: #2179c500;
}