@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


footer {
    position:relative;
    margin: 0 auto;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    z-index: 10;
    border-top: 1px solid black;
}

.footer .container{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer .footer-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer .social-media a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .footer-links a:hover,
.footer .social-media a:hover{
    color: rgb(252, 93, 20);
}