.header {
    width: 90%;
    height: 120px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid black;
}

.header .navigation {
    display: flex;
}

.header .list {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header .list-item {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.header .logoImg {
    height: 100px;
}