.aboutContainer{
    width: 100%;
    height: calc(1080px - 88px);
    background-image: url('./image/jamie-street-_94HLr_QXo8-unsplash.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.aboutContainer .title{
    font-size: 40px;
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: center;
}

.aboutContainer .container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 240px;
    display: flex;
    justify-content: center;
}

.aboutContainer .subtitle{
    font-size: 30px;
    width: 80%;
    text-align: center;
    padding-top: 20px;
    line-height: 1.4;
}