/* BACKGROUND */

.backgroundContainerRegister {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -20;
}

.backgroundContainerRegister img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}


/* CONTENT */

.registerContainer{
    width: 100%;
    text-align: center;
    padding: 300px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

}

.registerContainer .form{
    display: flex;
    align-items: center;
}

.registerContainer .form label{
    font-size: 40px;
}

.registerContainer .form input{
    height: 50px;
    width: 400px;
    background-color: #2179c500;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    margin: 0 60px 0 20px;
}

.registerContainer .form input::placeholder {
    color: rgb(4, 4, 4);
}

.registerContainer .form .registerBtn{
    border: 3px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #2179c500;
}

.registerContainer .newUserContainer{
    background-color: #2179c500;
    display: flex;
    gap: 20px;
    font-size: 26px;
    font-weight: 500;
}

.registerContainer .newUserContainer .goToLogin{
    background-color: #2179c500;
    color: black;
    font-size: 26px;
    font-weight: 800;
    display: flex;
    border: none;
    text-decoration: underline;
}